* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #000000 url('../images/subtle_carbon.png');
}

#container
{
	margin: 30px auto;
	background: #fff;
	max-width: 960px;
}

#header
{
	background: #000000;
	padding: 20px;
	
}

.left {
	float: left;
}

.right {
	float: right;
}

#header h1 { font-family: 'Lobster', cursive; margin: 0; color: #FFFFFF;

}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	font-family: 'arial';
 	font-size: 14px;
}

#navigation li a:hover { background: #000000; }

#banner {
	width: 960px;
	height: 340px;
}

.home {
	background: transparent url('../images/yayhome.png') no-repeat;
}

.contact {
	background: transparent url('../images/yaycontact.png') no-repeat;
}

.giving {
	background: transparent url('../images/yaygiving.png') no-repeat;
}

.calendar {
	background: transparent url('../images/yaycalendar.png') no-repeat;
}

.groups {
	background: transparent url('../images/yaygroups.png') no-repeat;
}

.directory {
	background: transparent url('../images/yaydirectory.png') no-repeat;
}

.word {
	background: transparent url('../images/yayword.png') no-repeat;
}

#content
{
	clear: left;
	padding: 20px;
	background: #FFFFFF;
	font-family: Arial;
	font-size: 12px;
}

.tall {
	min-height: 650px;
}

.label {
	width: 100px;
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
}

.field {
	font-family: Arial;
	font-size: 12px;
	clear: both;
	margin-bottom: 20px;
}

#content h2 {
 	font-family: 'Lobster', cursive; font-weight: 400;
}

#contactInfo {
	width: 300px;
}

#contactInfo h2 {
	font-family: 'Lobster', cursive; font-weight: 400;
}

#contactForm {
	margin-right: 50px;
}

#contactForm h2 {
	font-family: 'Lobster', cursive; font-weight: 400;
}

a {
	text-decoration: none;
}

a:link{
	color: #0094D5;
}

a:visited{
	color: #0094D5;
}
	
a:hover{
	color: #000000;
}
	
a:active{
	color: #0094D5;
}

form {
	width:459px;
	margin:0 auto;
}

label {
	display:block;
	margin-top:20px;
	letter-spacing:2px;
}

input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

	input:focus, textarea:focus {
		border:1px solid #97d6eb;
	}

textarea {
	height:213px;
	font-family:Arial;
	background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}

#submit {
	width:127px;
	height:38px;
	margin-top:20px;
	cursor:pointer;
}

	#submit:hover {
		opacity:0.9;
	}

#footer
{
	background: #47992E;
	text-align: right;
	padding: 20px;
	height: 1%;
	font-family: 'arial';
	color: #FFFFFF;
 	font-size: 12px;
}

p
{
	font-family: 'arial';
 	font-size: 12px;
 }


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {	
	#contactInfo {
		float: none;
		margin: 0px auto;
		width: 500px;
	}
	
	#contactForm {
		float: none;
		margin: 20px auto;
		width: 600px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px)
and (max-width : 480px) {
	#contactInfo {
		float: none;
		margin: 0px auto;
		width: 500px;
	}
	
	#contactForm {
		float: none;
		margin: 20px auto;
		margin: 600px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
}

