* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #000000 url('../images/subtle_carbon.png');
}

#container
{
	margin: 0 30px;
	background: #fff;
	max-width: 960px;
}

#header
{
	background: #000000;
	padding: 20px;
	
}

#header h1 { font-family: 'Vast Shadow', cursive; margin: 0; color: #FFFFFF;}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

#navigation li a:hover { background: #383; }

#banner {
	width: 960px;
	height: 340px;
	background: transparent url('../images/yaychurch.png') no-repeat;
}

#content
{
	clear: left;
	padding: 20px;
	background: #FFFFFF;
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

p
{
	font-family: 'arial';
 	font-size: 12px;
 }


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	body {
		background-color: white; 
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px)
and (max-width : 480px) {
	body {
		background-color: white; 
		#banner { width: 100%; }
		}
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	body {
		background-color: white;
		#banner { width: 100%; } 
	}
}

